* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.container-header {
    background-color: aqua;
}

.debug [class^='hco'] {
	border: 2px dashed black;
	padding: 10px;
    flex-grow: 1;
    display: flex;
    background-color: orange;
}
.section [class^='cont'] {
	min-height: 400px; 
}
.logo {
    align-items: flex-start;
}
.hcol-center {
    flex-basis: 500px;
    align-items: center;
}
.hcol-right {
    align-items: flex-end;
}

header{
    min-height: 80px;
}

.row-header {
	display: flex;
	padding: 20px;
    justify-content: space-between;
    max-width: 1000px;
}   

.container-nav{
    background-color: blue;  
    
}

.row-nav{    
    display: flex;  
    max-width: 200px;
    padding: 100px; 
    justify-content: center;  
    
}

.nav-col{
    border: 2px dashed black;
	padding: 100px 300px;
    background-color: rgb(215, 102, 121); 
   
}

.row-section{
    display: flex;
	padding: 20px;
    min-height: 400px;    
    max-width: 1000px;
    
}   

.section-col-blu{
    border: 2px dashed black;
	padding: 100px;
    background-color: rgb(42, 42, 234);
    flex-basis: 60%;

}
.section-col-pink{
    border: 2px dashed black;
	padding: 100px;
    background-color: pink;
    flex-basis: 40%;
    

}

.container-grey {
    background-color: lightgray;
}

.row-section2 {
    display: flex;
	padding: 20px;
    min-height: 400px;    
    max-width: 1000px;
    flex-direction: row-reverse;
}

.row-foot{    
    display: flex;  
    padding: 20px;
    min-height: 800px;    
    max-width: 1000px; 
    justify-content: center;  
    
}

.foot-col{
    border: 2px dashed black;
	padding: 100px 300px;
    background-color: green;
    flex-basis: 100%;
}

footer {
    background-color: rgb(92, 92, 92);
}
.row-footer1 {    
    display: flex;  
    padding: 20px;
    min-height: 800px;    
    max-width: 1000px; 
    justify-content: center;
      
}
.footer1-col-big {
    border: 2px dashed black;
    background-color:pink;
    flex-basis: calc(100%/3);
    
}
.footer1-col {
    border: 2px dashed black;
    background-color:rgb(42, 42, 234);
    flex-basis: calc(100%/6);
}

.row-footer2 {
    display: flex;
	padding: 20px 0;
    justify-content: space-between;
    max-width: 1000px;
    background-color: aqua;
}

.footer2-col {
    border: 2px dashed black;
    padding: 10px;
}

